@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
.reviews .container {
  width: 90%;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 600px) {
  .reviews .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 600px) {
  .reviews .container .reviews_container {
    width: 55%;
  }
}

@media screen and (min-width: 990px) {
  .reviews .container .reviews_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.reviews .container .reviews_container .review {
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 32px;
  padding: 32px;
  border: 2px solid #f2f5f5;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px 0 #d8d8d8;
          box-shadow: 0 10px 20px 0 #d8d8d8;
}

.reviews .container .reviews_container .review p {
  color: #4b4b4b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  margin: 1rem 0rem 2rem;
}

.reviews .container .reviews_container .review .cust_name {
  font-weight: bold;
  color: #44374d;
}

.reviews .container .reviews_container .review .happy_cust {
  color: #a19aa4;
  font-weight: normal;
}

@media screen and (min-width: 990px) {
  .reviews .container .reviews_container .right_reviews {
    margin-top: 5rem;
    margin-left: 2rem;
  }
}

.reviews .container .reviews_container .diff_back {
  background-color: #44374d;
  position: relative;
}

.reviews .container .reviews_container .diff_back p,
.reviews .container .reviews_container .diff_back .cust_name {
  color: white;
}

.reviews .container .reviews_container .diff_back .happy_cust {
  color: #a19aa4;
}

.reviews .container .reviews_container .diff_back .backimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  opacity: 0.2;
}

.reviews .container .review_content {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 3rem 0;
}

@media screen and (min-width: 600px) {
  .reviews .container .review_content {
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 10rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
  }
}

.reviews .container .review_content h1 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #44374d;
  padding-right: 1rem;
}

.reviews .container .review_content p {
  margin: 1.5rem 0;
  color: #44374d;
  font-weight: 500;
  line-height: 1.3;
}

.reviews .container .review_content button {
  padding: 1.2rem 2rem;
  background-color: #ff053b;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.reviews .container .review_content button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 5px #ff053b67;
          box-shadow: 0px 5px 5px #ff053b67;
}
/*# sourceMappingURL=styles.css.map */